/*BEGIN PS4 White Controller Styling*/
.controller.custom {
    background-image: url(base-switch-pb.png);
    height: 598px;
    width: 806px;
}

.custom .disconnected {
    background: url(disconnected-switch-pb.png);
    height: 598px;
    width: 806px;
}

.custom .trigger {
    background-image: url(triggers.png);
    height: 598px;
    width: 806px;
    position: absolute;
    background-repeat:no-repeat;
}

.custom .bumper {
    background-image: url(bumper.png);
    height: 598px;
    width: 806px;
    position: absolute;
    background-repeat:no-repeat;
    opacity:0;
}

.custom .bumper.right {
    left: 500px;
    top: 1px;
}

.custom .bumper.left {
 left: 150px;
}

.custom .bumper.pressed {
opacity:1;
}

.custom .touchpad.pressed {
    background-image: url(touchpad.png);
}

.custom .start {
    background-image: url(plus-switch-pb.png);
}

 .custom {
    background-image: url(face.png);
}

.custom .sticks {
    height: 400px;
    width: 400px;
    position: absolute;
    background-repeat:no-repeat;
}

.custom .stick {
    background-image: url(sticks_rewritten.png);
    height: 35px;
    width: 26px;
    position: absolute;
    background-repeat:no-repeat;
    opacity:1;
}

.custom .stick.right {
    background-image: url(sticks_rewritten.png);
    position: absolute;
    background-repeat:no-repeat;
    opacity:1;
}

.custom .stick.left {
    background-image: url(sticks_rewritten.png);
    position: absolute;
    background-repeat:no-repeat;
    opacity:1; 
}
    
.custom .face {
    background-image: url(dpad_grey.png);
}

.custom .meta.pressed{
    background-image: url(meta.png);
}

/*END PS4 White Controller Styling*/
